<%= erb :header, :locals => {:page => 'aliases'} %>

<div class="search control">
  <button onclick="search_input( '<%= "/aliases?page=1" %>')">Search</button>
  <input type="text" id="search" maxlength="40" value="<%= search %>">
  <%=
      url = "/aliases?search=#{e(search)}"
      erb :page_control, :locals => {:view => 'aliases',
                                     :page => page,
                                     :url  => url,
                                     :args => [search]}
  %>&nbsp;&nbsp;
</div>

<%= erb :aliases_list, :locals => {:page   => page,
                                   :search => search}  %>

</body>
</html>