<%= erb :header, :locals => {:page => (id >= 0) ? 'game' : 'new_game'} %>

<script>
    function check_name( field) {
        var name = document.getElementsByName(field)[0].value;
        if (name == '') {return true;}

        var xhttp = new XMLHttpRequest();
        xhttp.open("POST",
                   "/check_name",
                   false);
        xhttp.setRequestHeader("Content-Type", "application/json");
        var data = {id:document.getElementById("id").value,
                    name:name};
        xhttp.send(JSON.stringify(data));

        if (xhttp.responseText != 'Y') {
          alert( name + " already used");
          return false;
        } else {
          return true;
        }
    }

    function check_names() {
        if (! check_name( 'name')) {return false;}
        for (i = 0; i < 10; i++) {
            if (! check_name( "alias" + i)) {return false;}
        }
        return true;
    }

    function confirm_delete( label) {
        return confirm( "Confirm " + label);
    }

    function set_group() {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "GET", "/selected_game", false);
        xhttp.send();
        if (xhttp.responseText == '') {return;}
        document.getElementById("group").value = xhttp.responseText;
    }

    function change_aspect( event, name) {
        event.preventDefault();
        var del = document.getElementById("d_" + name);
        var iel = document.getElementById("i_" + name);
        var value = iel.value;
        if (value == 'Y') {
            iel.value = 'N';
            del.style.backgroundColor = "red";
        }
        if (value == 'N') {
            iel.value = '?';
            del.style.backgroundColor = "white";
        }
        if (value == '?') {
            iel.value = 'Y';
            del.style.backgroundColor = "lime";
        }
    }
</script>

<%
    @game = $pagoda.game( id)
    if @game
      @create_label  = 'Update'
      @delete_label  = 'Delete'
      @delete_method = 'post'
      @delete_action = "/delete_game"
      @id            = id
      @name          = @game.name
      @group         = (@game.is_group == 'Y')
      @group_name    = @game.group_name
      @year          = @game.year
      @developer     = @game.developer
      @publisher     = @game.publisher
      @aliases       = @game.aliases
      @website       = @game.official_site
      @aspects       = @game.aspects
    else
      @create_label  = 'Create'
      @delete_label  = 'Clear'
      @delete_method = 'get'
      @delete_action = "/new_game"
      @id            = $pagoda.next_value( 'game', :id)
      @name          = ''
      @group         = false
      @group_name    = ''
      @year          = ''
      @developer     = ''
      @publisher     = ''
      @aliases       = []
      @website       = ''
      @aspects       = {}
    end

    while @aliases.size < 5
      @aliases << nil
    end
%>

<form action="/game">
    <table class="game">
      <tr><th>Id:</th><td><%= input_element( 'id', 6, @id, 'readonly id="id"') %></td></tr>

      <tr><th>Name:</th><td><%= input_element( 'name', 80, @name, 'required') %></td></tr>

      <tr><th>Year:</th><td><%= input_element( 'year', 4, @year) %></td></tr>

      <tr><th>Group?</th><td><%= checkbox_element( 'is_group', @group) %></td></tr>

      <tr><th>In group:</th><td><%= input_element( 'group_name', 80, @group_name, 'readonly id="group"') + game_group_action() %></td></tr>

      <tr><th>Developer:</th><td><%= input_element( 'developer', 60, @developer) %></td></tr>

      <tr><th>Publisher:</th><td><%= input_element( 'publisher', 60, @publisher) %></td></tr>

      <tr><th>Website:</th><td><%= input_element( 'website', 80, @website) %></td></tr>

      <tr><th>Search:</th><td>
        <%= google_search( 'Game details', [@name, @developer, @publisher]) %>
        <%= google_search( 'MobyGames', [@name, 'MobyGames']) %>
        <%= google_search( 'Metacritic', [@name, 'Metacritic']) %>
        <%= google_search( 'Steam', [@name, 'Steam']) %>
        <%= google_search( 'Apple', [@name, 'Apple', 'App', 'Store']) %>
      </td></tr>

      <tr><th>Aspects:</th><td>
        <div class="aspects">
          <%=
            html = []
            $pagoda.aspect_names do |aspect|
              html << aspect_element( "#{aspect}", @aspects[aspect])
            end
            html.join( "\n")
          %>
        </div>

      </td></tr>

    </table>

  <div style="display: flex; flex-wrap: wrap; flex-direction: row; align-items: flex-start; justify-content: space-between">
      <table class="small list">
        <tr><th>Alias</th><th>Hidden?</th></tr>
        <%=
          index, html = 0, []
          @aliases.each do |a|
            html << '<tr><td>' +
            alias_element( index, a) +
            '</td></tr>'
            index += 1
          end
          html.join( "\n")
        %>
      </table>

      <table class="small list" style="padding-left: 10px">
        <tr><th>Site</th><th>Type</th><th>Scan</th></tr>
        <%=
          html = []
          $pagoda.links do |s|
            c = s.collation
            if c && @game && (c.id == @game.id)
              html << "<tr><td>#{s.site}</td><td>#{s.type}</td><td><a target=\"_blank\" href=\"/link/#{e(e(s.url))}\">#{s.name}</a></td></tr>"
            end
          end
          html.join( "\n")
        %>
      </table>

      <% if @group %>
        <table class="small list" style="padding-left: 10px">
          <tr><th>Game in group</th></tr>
          <%=
            html = []
            $pagoda.games_in_group( @id) do |g|
              html << "<tr><td><a target=\"_blank\" href=\"/game/#{g.id}\">#{h(g.name)}</a></td></tr>"
            end
            html.join( "\n")
          %>
        </table>
      <% end %>
    </div>

    <table class="buttons">
      <tr>
        <td>
          <button formmethod="post" type="submit" onclick="return check_names();"><%= @create_label %></button>
        </td>
        <% if @game %>
          <td>
            <button formaction="/delete_game" formmethod="post" type="submit" onclick="return confirm_delete('Delete');">Delete</button>
          </td>
          <td>
            <button formaction="/duplicate_game" formmethod="post" type="submit">Duplicate</button>
          </td>
        <% end %>
      </tr>
    </table>

  <table class="list" <%= $debug ? '' : 'style="display: none"' %> >
    <tr><th>Combo</th><th>Hits</th></tr>
    <%=
      html = []
      if @game
        @game.suggest_analysis do |combo, ids|
          html << "<tr><td>#{combo}</td><td>#{ids.collect {|id| id.to_s}.join( ' ')}</td></tr>"
        end
      end
      html.join( "\n")
    %>
  </table>
</form>

</body>
</html>