<%= erb :header, :locals => {:page => 'games_added', :aspect => aspect} %>

<div class="search control">
  <button onclick="search_input( '<%= "/games_added?page=1&aspect=#{aspect}" %>')">Search</button>
  <input type="text" id="search" maxlength="40" value="<%= search %>">
  <%=
      url = "/games_added?search=#{e(search)}"
      erb :page_control, :locals => {:view => 'games',
                                     :page => page,
                                     :url  => url,
                                     :args => [aspect,search]}
  %>&nbsp;&nbsp;
</div>

<div id="list"><table class="games list">
  <tr><th>ID</th><th>Name</th><th>Year</th><th>In group</th><th>Select</th></tr>
  <%=
    html = []

    records       = games_records( aspect, search)
    current_page  = page
    total_pages   = (records.size + 99) /  100
    current_page  = 1 if total_pages < current_page
    selected_game = selected_game_id( selected)
    records.sort_by! do |rec|
      - rec.id
    end

    records[(100*(current_page-1))...(100*current_page)].each do |rec|
      year = (rec.year.nil? || (rec.year < 1)) ? '' : rec.year
      if selected_game == rec.id
        style   = 'style="background: lime"'
        checked = 'checked'
      else
        style = checked = ''
      end
      html << "<tr #{style}>"
      html << "<td>#{rec.id}</td>"
      html << "<td><a href=\"/game/#{rec.id}\">#{h(rec.name)}</a></td>"
      html << [:year, :group_name].collect {|f| "<td>#{rec.send(f)}</td>"}.join( "\n")
      html << "<td><input type=\"checkbox\" onclick=\"select_checkbox('#{rec.id}')\" #{checked}></td>"
      html << '</tr>'
    end

    html.join( "\n")
  %>
</table></div>

<script>
    window.scrollTo( <%= x %>, <%= y %>);

    function select_checkbox( id) {
        var x = window.pageXOffset;
        var y = window.pageYOffset;
        window.location = '/games?aspect=<%= aspect %>&page=<%= page %>&search=' +
            encodeURIComponent( document.getElementById( 'search').value) +
            "&selected=" + id +
            "&x=" + x + "&y=" + y;
    }
</script>

</body>
</html>