<%= erb :header, :locals => {:page => 'games'} %>

<div class="search control">
  <button onclick="search_input( '<%= "/games?page=1" %>')">Search</button>
  <input type="text" id="search" maxlength="40" value="<%= search %>">
  <%=
      url = "/games?search=#{e(search)}"
      erb :page_control, :locals => {:view => 'games',
                                     :page => page,
                                     :url  => url,
                                     :args => [search]}
  %>&nbsp;&nbsp;
</div>

<%= erb :games_list, :locals => {:page   => page,
                                 :search => search}  %>

<script>
    function select_checkbox( id) {
        set_selected_game( id);
        window.location = '/games?page=<%= page %>&search=' + encodeURIComponent( document.getElementById( 'search').value);
    }
</script>

</body>
</html>