<%= erb :header, :locals => {:page => (id >= 0) ? 'game' : 'new_game'} %>

<script>
    function check_name( field) {
        var name = document.getElementsByName(field)[0].value;
        if (name == '') {return true;}

        var xhttp = new XMLHttpRequest();
        xhttp.open("GET",
                   "/check_name/" +
                   document.getElementById("id").value + "/" +
                   encodeURIComponent( name),
                   false);
        xhttp.send();

        if (xhttp.responseText != 'Y') {
          alert( name + " already used");
          return false;
        } else {
          return true;
        }
    }

    function check_names() {
        if (! check_name( 'name')) {return false;}
        for (i = 0; i < 10; i++) {
            if (! check_name( "alias" + i)) {return false;}
        }
        return true;
    }

    function confirm_delete( label) {
        return confirm( "Confirm " + label);
    }

    function set_group() {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "GET", "/selected_game", false);
        xhttp.send();
        if (xhttp.responseText == '') {return;}
        document.getElementById("group").value = xhttp.responseText;
    }
</script>

<%
    @game = $pagoda.game( id)
    if @game
      @create_label  = 'Update'
      @delete_label  = 'Delete'
      @delete_method = 'post'
      @delete_action = "/delete_game"
      @id            = id
      @name          = @game.name
      @group         = (@game.is_group == 'Y')
      @group_name    = @game.group_name
      @game_type     = @game.game_type
      @year          = @game.year
      @developer     = @game.developer
      @publisher     = @game.publisher
      @aliases       = @game.aliases
    else
      @create_label  = 'Create'
      @delete_label  = 'Clear'
      @delete_method = 'get'
      @delete_action = "/new_game"
      @id            = $pagoda.next_value( 'game', :id)
      @name          = ''
      @group         = false
      @group_name    = ''
      @game_type     = 'A'
      @year          = ''
      @developer     = ''
      @publisher     = ''
      @aliases       = []
    end

    while @aliases.size < 10
      @aliases << nil
    end
%>

<form action="/game">
    <table class="game">
      <tr><th>Id:</th><td><%= input_element( 'id', 6, @id, 'readonly id="id"') %></td></tr>

      <tr><th>Name:</th><td><%= input_element( 'name', 80, @name, 'required') %></td></tr>

      <tr><th>Year:</th><td><%= input_element( 'year', 4, @year) %></td></tr>

      <tr><th>Group?</th><td><%= checkbox_element( 'is_group', @group) %></td></tr>

      <tr><th>In group:</th><td><%= input_element( 'group_name', 80, @group_name, 'readonly id="group"') + game_group_action() %></td></tr>

      <tr><th>Developer:</th><td><%= input_element( 'developer', 60, @developer) %></td></tr>

      <tr><th>Publisher:</th><td><%= input_element( 'publisher', 60, @publisher) %></td></tr>

      <tr><th>Type:</th><td><%= input_element( 'game_type', 1, @game_type) %></td></tr>

      <%=
        html = []
        if $debug
          html << '<tr><th>Keys:</th><td>' +
                  $pagoda.keys( @id).join( '</td></tr><tr><th></th><td>') +
                  '</td></tr>'
        end
        html.join( "\n")
      %>

    </table>

    <div style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between">
      <table class="small list">
        <tr><th>Alias</th><th>Hidden?</th></tr>
        <%=
          index, html = 0, []
          @aliases.each do |a|
            html << '<tr><td>' +
            alias_element( index, a) +
            '</td></tr>'
            index += 1
          end
          html.join( "\n")
        %>
      </table>

      <table class="small list" style="padding-left: 10px">
        <tr><th>Site</th><th>Type</th><th>Scan</th></tr>
        <%=
          html = []
          $pagoda.links do |s|
            c = s.collation
            if c && @game && (c.id == @game.id)
              html << "<tr><td>#{s.site}</td><td>#{s.type}</td><td><a href=\"/link/#{e(e(s.url))}\">#{s.name}</a></td></tr>"
            end
          end
          html.join( "\n")
        %>
      </table>
    </div>

    <table class="buttons">
      <tr>
        <td>
          <button formmethod="post" type="submit" onclick="return check_names();"><%= @create_label %></button>
        </td>
        <td>
          <%= "<button formaction=\"#{@delete_action}\" formmethod=\"#{@delete_method}\" type=\"submit\" onclick=\"return confirm_delete('#{@delete_label}');\">#{@delete_label}</button>" %>
        </td>
      </tr>
    </table>
</form>

</body>
</html>