<%= erb :header, :locals => {:page => 'scan'} %>

<div class="combos control">
  <%=
    html = []
    @chosen_site   = link_site_combo( 'site', site, type, status, html)
    @chosen_type   = link_type_combo( 'type',   @chosen_site, type, status, html)
    @chosen_status = link_status_combo( 'status', @chosen_site, @chosen_type, status, html)
    html.join( "&nbsp;&nbsp;\n")
  %>
</div>

<div class="search control">
  <label for="search">Search:&nbsp;</label>
  <input type="text" id="search" maxlength="40" value="<%= search %>"
         oninput="search_input( '<%= "/links?site=#{e(site)}&type=#{type}&status=#{status}&page=1" %>')">
  <%=
      url = "/links?site=#{e(site)}&type=#{type}&status=#{status}&search=#{e(search)}"
      erb :page_control, :locals => {:view => 'link',
                                     :page => page,
                                     :url  => url,
                                     :args => [@chosen_site, @chosen_type, @chosen_status, search]}
  %>&nbsp;&nbsp;
</div>

<%= erb :link_list, :locals => {:site   => @chosen_site,
                                :type   => @chosen_type,
                                :status => @chosen_status,
                                :page   => page,
                                :search => search}  %>

<script>
    function link_action( id, action, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/" + action + "/" + id, false);
        xhttp.send();
        if (xhttp.responseText == '') {return;}
        document.getElementById("status" + row).innerHTML = '<span class="changed">' +
                                                           xhttp.responseText +
                                                           '</span>';
        set_collation( id, row);
    }

    function search_input( url) {
        window.location = url + "&search=" + encodeURIComponent( document.getElementById( 'search').value);
    }

    function set_collation( url, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "GET", "/collation/" + url, false);
        xhttp.send();
        var info = JSON.parse( xhttp.responseText)

        document.getElementById("collation" + row).innerHTML = info['link'];
        document.getElementById("collation_year" + row).innerHTML = info['year'];
    }
</script>

</body>
</html>