<%= erb :header, :locals => {:page => 'scan'} %>

<div class="combos control">
  <%=
    html = []
    @chosen_site   = link_site_combo( 'links', 'site', site, type, status, html)
    @chosen_type   = link_type_combo( 'links', 'type',   @chosen_site, type, status, html)
    @chosen_status = link_status_combo( 'links', 'status', @chosen_site, @chosen_type, status, html)
    html.join( "&nbsp;&nbsp;\n")
  %>
</div>

<div class="search control">
  <button onclick="search_input( '<%= "/links?site=#{e(site)}&type=#{type}&status=#{status}&page=1" %>')">Search</button>
  <input type="text" id="search" maxlength="40" value="<%= search %>">
  <%=
      url = "/links?site=#{e(site)}&type=#{type}&status=#{status}&search=#{e(search)}"
      erb :page_control, :locals => {:view => 'link',
                                     :page => page,
                                     :url  => url,
                                     :args => [@chosen_site, @chosen_type, @chosen_status, search]}
  %>&nbsp;&nbsp;
</div>

<div id="list"><table class="scan list">
  <tr><th>Site</th><th>Type</th><th>Title</th><th>Year</th><th>Collation</th><th>Year</th></th><th>Status</th><th>Comment</th><th>Actions</th></tr>
  <%=
      html = []

      records = link_records( site, type, status, search)
      current_page = page.to_i
      total_pages  = (records.size + 99) /  100
      current_page = 1 if total_pages < current_page

      records.sort_by! do |rec|
        [rec.site, rec.type, rec.label.to_s]
      end

      row = 0
      records[(100*(current_page-1))...(100*current_page)].each do |rec|
        row += 1
        html << "<tr><td><a target=\"_blank\" href=\"/link/#{e(e(rec.url))}\">#{h(rec.site)}</a></td>"
        html << "<td>#{rec.type}</td>"
        html << "<td><a target=\"_blank\" title=\"#{t(rec.orig_title)}\" href=\"#{rec.url}\">#{h(rec.orig_title,40)}<a/></td>"
        html << "<td>#{rec.year}</td>"
        info = collation( rec.url)
        html << "<td id=\"collation#{row}\">#{info[:link]}</td>"
        html << "<td id=\"collation_year#{row}\">#{info[:year]}</td>"
        colour = link_lost?(rec) ? 'red' : (rec.comment ? 'cyan' : 'white')
        html << "<td style=\"background: #{colour}\" id=\"status#{row}\">#{link_status(rec)}</td><td>"
        html << "#{rec.comment}</td><td>"
        html << link_action( rec, 'ignore', row)
        html << link_action( rec, 'bind', row)
        html << link_action( rec, 'unbind', row)
        html << link_action( rec, 'forget', row)
        if /free/i =~ link_status(rec)
          html << link_add_action( rec)
        end
        html << '</td></tr>'
      end

      html.join( "\n")
  %>
</table></div>

<script>
    function link_action( id, action, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/" + action + "/" + id, false);
        xhttp.send();
        if (xhttp.responseText == '') {return;}
        document.getElementById("status" + row).innerHTML = '<span class="changed">' +
                                                           xhttp.responseText +
                                                           '</span>';
        set_collation( id, row);
    }

    function link_add_action( id) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/add_game_from_link/" + id, false);
        xhttp.send();
        if (xhttp.responseText == '') {
            return;
        }
        window.open(xhttp.responseText);
    }

    function set_collation( url, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "GET", "/collation/" + url, false);
        xhttp.send();
        var info = JSON.parse( xhttp.responseText);

        document.getElementById("collation" + row).innerHTML = info['link'];
        document.getElementById("collation_year" + row).innerHTML = info['year'];
    }
</script>

</body>
</html>