<%= erb :header, :locals => {:page => 'scan_record'} %>

<script>
    function link_action( id, action, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/" + action + "/" + id, false);
        xhttp.send();
        window.location.reload();
    }

    function link_bind_action( id, game) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/bind/" + id + "/" + game, false);
        xhttp.send();
        window.location.reload();
    }
</script>

<%
  @rec = $pagoda.link( url)
%>

  <table class="link_record list">
    <tr><th>Site</th><td><%= h(@rec.site) %></td></tr>
    <tr><th>Type</th><td><%= h(@rec.type) %></td></tr>
    <tr><th>Link</th><td><%= "<a href=\"#{@rec.url}\">#{h(@rec.orig_title)}<a/>" %></td></tr>
    <tr><th>Cache</th><td>
      <%= @rec.valid? ? "<a href=\"/cache/#{@rec.timestamp}\">#{h(@rec.orig_title)}<a/>" : '' %>
    </td></tr>
    <tr><th>Title</th><td><%= h(@rec.title) %></td></tr>
    <tr><th>Join</th><td><%= h(@rec.join) %></td></tr>
    <tr><th>Status</th><td><%= link_status(@rec) %></td></tr>
    <tr><th>Collation</th><td><%= @rec.collation ? game_link(@rec.collation.id) : '' %>
    <tr><th>Valid</th><td><%= @rec.valid %></td></tr>
    <tr><th>Redirected</th><td><%= @rec.redirect %></td></tr>
    <tr><th>Timestamp</th><td><%= (@rec.timestamp > 10000) ? Time.at( @rec.timestamp).strftime( "%Y/%m/%d") : '' %></td></tr>
    <tr><th>Actions</th><td><%= link_action( @rec, 'ignore') +
                                link_action( @rec, 'bind') +
                                link_action( @rec, 'unbind')
    %></td></tr>

    <%=
      html = []
      if $debug
        html << "<tr><th>Reduced name</th><td>#{ @rec.reduced_name}</td></tr>"
        html << '</td></tr>'
      end
      html.join( "\n")
    %>
  </table>

  <table class="list">
    <tr><th>Game</th><th>Developer</th><th>Publisher</th><th>Year</th><th>Actions</th></tr>
    <%=
      html = []
      @rec.suggest do |game|
        html << "<tr><td><a href=\"/game/#{game.id}\">#{h(game.name)}</a></td>"
        html << "<td>#{game.developer}</td>"
        html << "<td>#{game.publisher}</td>"
        html << "<td>#{game.year}</td>"
        html << "<td>#{ link_bind_action( @rec, game.id)}</td>"
      end
      html.join( "\n")
    %>
  </table>
</body>
</html>