<%= erb :header, :locals => {:page => 'scan_record'} %>

<script>
    function link_action( id, action, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/" + action + "/" + id, false);
        xhttp.send();
        window.location.reload();
    }

    function link_add_action( id) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/add_game_from_link/" + id, false);
        xhttp.send();
        if (xhttp.responseText == '') {
            window.location.reload();
            return;
        }
        window.open(xhttp.responseText);
    }

    function link_bind_action( id, game) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/bind/" + id + "/" + game, false);
        xhttp.send();
        window.location.reload();
    }
</script>

<%
  @rec = $pagoda.link( url)
%>

  <table class="link_record list">
    <tr><th>Site</th><td><%= h(@rec.site) %></td></tr>
    <tr><th>Type</th><td><%= h(@rec.type) %></td></tr>
    <tr><th>Link</th><td><%= "<a href=\"#{@rec.url}\">#{h(@rec.title)}<a/>" %></td></tr>
    <tr><th>Cache</th><td>
      <%= @rec.valid? ? "<a href=\"/cache/#{@rec.timestamp}\">#{h(@rec.title)}<a/>" : '' %>
    </td></tr>
    <tr><th>Join</th><td><%= h(@rec.join) %></td></tr>
    <tr><th>Status</th><td><%= link_status(@rec) %></td></tr>
    <tr><th>Collation</th><td><%= @rec.collation ? game_link(@rec.collation.id) : '' %>
    <tr><th>Valid</th><td><%= @rec.valid %></td></tr>
    <tr><th>Static</th><td><%= @rec.static? ? 'Y' : 'N' %></td></tr>
    <tr><th>Comment</th><td><%= @rec.comment %></td></tr>
    <tr><th>Timestamp</th><td><%= (@rec.timestamp > 10000) ? Time.at( @rec.timestamp).strftime( "%Y/%m/%d") : '' %></td></tr>
    <tr><th>Digest</th><td><%= "<a target=\"_blank\" href=\"/digest/#{e(e(@rec.url))}\">Display<a/>" %></td></tr>
    <tr><th>Link date</th><td><%= @rec.link_date %></td></tr>
    <tr><th>Link aspects</th><td><%= @rec.link_aspects %></td></tr>
    <%=
      html = []
      @rec.bad_tags do |tag|
        html << '<tr><th>Problem tags</th><td>' if html.empty?
        html << "<a target=\"_blank\" href=\"/tag/#{e(e(tag))}\">#{tag}</a> "
      end
      html << '</tr>' unless html.empty?
      html.join(' ')
    %>
    <tr><th>Actions</th><td><%= link_action( @rec, 'ignore') +
                                link_action( @rec, 'bind') +
                                link_action( @rec, 'unbind') +
                                link_action( @rec, 'pardon') +
                                ((/(free|ignored)/i =~ link_status(@rec)) ? link_add_action( @rec) : '')
    %></td></tr>
  </table>

  <table class="list">
    <tr><th>Game</th><th>Developer</th><th>Publisher</th><th>Year</th><th>Actions</th></tr>
    <%=
      html = []
      suggest_games(@rec.title) do |name, game|
        html << "<tr><td><a href=\"/game/#{game.id}/\">#{h(name)}</a></td>"
        html << "<td>#{game.developer}</td>"
        html << "<td>#{game.publisher}</td>"
        html << "<td>#{game.year}</td>"
        html << "<td>#{ link_bind_action( @rec, game.id)}</td>"
      end
      html.join( "\n")
    %>
  </table>
</body>
</html>