<%= erb :header, :locals => {:page => 'scan'} %>

<div class="combos control">
  <%=
    html = []
    @chosen_site   = link_site_combo( 'links', 'site', site, type, status, html)
    @chosen_type   = link_type_combo( 'links', 'type',   @chosen_site, type, status, html)
    @chosen_status = link_status_combo( 'links', 'status', @chosen_site, @chosen_type, status, html)
    html.join( "&nbsp;&nbsp;\n")
  %>
</div>

<div class="search control">
  <button onclick="search_input( '<%= "/links?site=#{e(site)}&type=#{type}&status=#{status}&page=1" %>')">Search</button>
  <input type="text" id="search" maxlength="40" value="<%= search %>">
  <%=
      url = "/links?site=#{e(site)}&type=#{type}&status=#{status}&search=#{e(search)}"
      erb :page_control, :locals => {:view => 'link',
                                     :page => page,
                                     :url  => url,
                                     :args => [@chosen_site, @chosen_type, @chosen_status, search]}
  %>&nbsp;&nbsp;
</div>

<%=
  records = link_records( site, type, status, search)
  erb :links_table, :locals => {:records => records, :current_page => page.to_i}
%>

<%= erb :links_actions %>

</body>
</html>