<%= erb :header, :locals => {:page => 'scans'} %>

<table class="menu">
  <tr><td>
    <%=
      ['found', 'state', 'elapsed'].collect do |item|
        if item == field
          "<span>#{item.capitalize}</span>"
        else
          "<a href=\"/scans/#{item}\">#{item.capitalize}</a>"
        end
      end.join( "</td><td>")
    %>
  </td></tr>
</table>

  <table class="list">
    <tr><th>Site</th><th>Type</th><th>Method</th><th>Last ran</th><th colspan="10"><%= field.capitalize %></th></tr>
    <% scan_records(field) do |site, type, method, timestamp, values| %>
      <tr>
        <td><%= site %></td>
        <td><%= type %></td>
        <td><%= method %></td>
        <td><%= Time.at(timestamp).strftime( '%Y-%m-%d') %></td>
        <%=
          html = []
          (0..9).each do |i|
            html << "<td align=\"right\">#{values[i]}</td>"
          end
          html.join("\n")
        %>
      </tr>
    <% end  %>
  </table>

</body>
</html>