<%= erb :header, :locals => {:page => 'suggest_groups'} %>

<div><span style="font-size: 24px"><b>Site:</b> <%= site %> <b>Type:</b> <%= type %></span></div>
<br>

<div class="search control">
  <%=
      url = "/suggest_groups?site=#{e(site)}&type=#{type}"
      erb :page_control, :locals => {:view => 'suggest_groups',
                                     :page => page,
                                     :url  => url,
                                     :args => [site, type]}
  %>&nbsp;&nbsp;
</div>

  <div id="list">
<table class="suggest_groups list">
<tr><th>Group</th><th>Count</th></tr>
  <%=
records = suggest_groups_records( site, type)
html = []

total_pages  = (records.size + 99) /  100
current_page = page
current_page = 1 if total_pages < current_page

records.sort_by! do |rec|
  (/^\d+$/ =~ rec[0]) ? rec[0].to_i : rec[0]
end

row = 0
records[(100*(current_page-1))...(100*current_page)].each do |rec|
  row += 1
  html << "<tr><td>#{h(rec[0])}</td>"
  html << "<td><a href=\"/suggests?site=#{e(site)}&type=#{type}&group=#{e(rec[0])}\">#{rec[1]}<a/></td>"
  html << '</tr>'
end

html.join( "\n")
%>
  </table></div>

</body>
</html>