<%= erb :header, :locals => {:page => 'verified'} %>

<div class="combos control">
  <%=
    html = []
    @chosen_site   = link_site_combo( 'site', site, type, status, html)
    @chosen_type   = link_type_combo( 'type',   @chosen_site, type, status, html)
    @chosen_status = link_status_combo( 'status', @chosen_site, @chosen_type, status, html)
    html.join( "&nbsp;&nbsp;\n")
  %>
</div>

<div class="search control">
  <button onclick="search_input( '<%= "/verified?page=1" %>')">Search</button>
  <input type="text" id="search" maxlength="40" value="<%= search %>">
  <%=
      url = "/verified?search=#{e(search)}"
      erb :page_control, :locals => {:view => 'aliases',
                                     :page => page,
                                     :url  => url,
                                     :args => [search]}
  %>&nbsp;&nbsp;
</div>

<%= erb :verified_list, :locals => {:site   => @chosen_site,
                                    :type   => @chosen_type,
                                    :status => @chosen_status,
                                    :page   => page,
                                    :search => search}  %>

<script>
    function load_verified( search, page) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/verified_list?search=" + encodeURIComponent(search) + "&page=" + page, false);
        xhttp.send();
        document.getElementById("list").innerHTML = xhttp.responseText;

        xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/page_control?view=verifieds&search=" + encodeURIComponent(search) + "&page=" + page, false);
        xhttp.send();
        document.getElementById("pages").innerHTML = xhttp.responseText;
    }

    function link_action( id, action, row) {
        var xhttp = new XMLHttpRequest();
        xhttp.open( "POST", "/" + action + "/" + id, false);
        xhttp.send();
        if (xhttp.responseText == '') {return;}
        document.getElementById("status" + row).innerHTML = '<span class="changed">' +
                                                           xhttp.responseText +
                                                           '</span>';
        set_collation( id, row);
    }

    function search_input() {
        load_verified( document.getElementById( 'search').value, 1);
    }

    document.getElementById( 'search').value = <%= "#{search}" %>>;
    load_verified( <%= "#{search}" %>, <%= page %>);
</script>

</body>
</html>